@import "../../../../styles.scss";

.summary-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;


  .summary-content {
    margin-top: 10px;
  }

  .collapse-info-data {
    font-weight: 500;
    color: $color-white;
    background-color: $color-green-logo;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .icon-collapse-info {
    font-size: 1.5rem;
    float: right;
    margin-right: 1%;
    cursor: pointer;
  }
}


.wrap-selected-method {
  margin-top: 30px;

  h1 {
    color: $color-green-logo;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .icons-payment {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 5px;
  }

  .icons-payment-cash {
    color: green;
  }

  .wrap-form-payment{
    font-weight: 500;    
    margin-bottom: 20px;
    font-size: 1rem;
  }
}