<div class="summary-container">
    <div (click)="toggleCollapsePurchase()" class="collapse-info-data">
        Purchase Details
    <i *ngIf="isCollapsedPurchase" class="icon-collapse-info fa-solid fa-plus"></i>
    <i *ngIf="!isCollapsedPurchase"class="icon-collapse-info fa-solid fa-minus"></i> 
    </div>
  
    <div *ngIf="!isCollapsedPurchase" class="summary-content">
      <app-verify-purchase [classGrid]="classGrid"></app-verify-purchase>
    </div>
  </div>
  
  
  <div class="summary-container">
    <div (click)="toggleCollapse()" class="collapse-info-data">
    Delivery Details
    <i *ngIf="isCollapsed" class="icon-collapse-info fa-solid fa-plus"></i>
    <i *ngIf="!isCollapsed"class="icon-collapse-info fa-solid fa-minus"></i> 
    </div>
  
    <div *ngIf="!isCollapsed" class="summary-content">
      <p><strong>Address:</strong> adaadasd</p>
      <p><strong>City:</strong> asdasd</p>
      <p><strong>Postal Code:</strong> asdas</p>
      <p><strong>Phone Number:</strong> asdasdasd</p>
      <p><strong>Island:</strong> asdasd</p>
      <p><strong>Delivery Note:</strong> sadasd</p>
    </div>
  </div>


 