@import "../../../../styles.scss";


.login-page {
    padding-top: 50px;
}

.inactive-class {
    background-color: gray;
    cursor: not-allowed;
}

.wrap-spinner {
    margin-top: 30px;
    margin-left: 30px;
}

.text-danger {
    color: $color-red-acctions;
}

.wrap-session {
    padding-bottom: 50px;

    label {
        font-size: 1rem;

    }

    .wrap-login {
        background-color: white;
        padding: 40px;
        border-radius: 12px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease;
        border: 1px solid $color-yellow-header;

        .text-login {
            color: $color-blue-actions-header;
            font-weight: 500;
        }
    }

    .text-title {
        color: $color-blue-actions-header;
        font-size: 1.125rem;
        font-weight: 500;
    }

    .text-subtitle {
        color: black;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hyperlink {
        margin-top: 10px;

        label {
            font-weight: 500;
            color: $color-blue-actions-header;
            text-decoration: underline;
            cursor: pointer;
        }

        label:hover {
            color: $orange-acctions;
        }
    }

}

.btn-login {
    background: linear-gradient(90deg, #333 0%, #555 100%);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    min-width: 150px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    display: block;
    margin: 10px auto;
}

.btn-login:hover {
    background: linear-gradient(90deg, #222 0%, #444 100%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
