<div class="container-fluid wrap-detail-cart">
  <div class="row no-gutters">

    <div class="content-info-cart col-12 col-sm-12 col-xs-12 col-md-6 col-lg-6">
      <div *ngFor="let product of cartItems">
        {{ product.name }} - <span class="content-value">{{ product.value|currency: 'EUR'}}</span>  X ({{ product.quantities }})
        <hr class="content-line">
      </div>

      <div class="total-detail">
        Total: &nbsp;<span class="content-value">{{ total|currency: 'EUR'}}</span>
      </div>
    </div>



  </div>

</div>