<div class="wrap-eventscol-10 offset-1">
    <h1>News & Events</h1>
    <div class="row">
      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>

      <div class="card h-100 d-flex flex-column col-12 col-md-6 col-lg-3 mb-4">
        <div class="app-card">
          <div class="row">
            <div class="col-4">
              <img src="./assets/images/categories/aquatics.jpg" class="card-img-top app-card__img">
            </div>
            <div class="col-8">
              <h1>TITLE</h1>
              <p>date</p>
              <p>short description</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>