@import "../../../../styles.scss";



.wrap-categories {
    font-size: 1.188rem;


    h1 {
        color: $color-green-logo;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }


    .card {
        color: $color-white;
        background-color: #F0EEE5;
        word-break: break-all;
        border: 1px solid transparent;
        position: relative;
        overflow: visible;
    }

    .app-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: transform 0.3s ease-in-out;
        position: relative;
        z-index: 1;
        cursor: pointer;

         &:hover {
            transform: scale(1.05);

            .card-text {
                font-weight: 500;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: $color-yellow-header;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 5px 5px;
        }

        .app-card__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            color: $color-green-logo;
        }

        .app-card__img {
            object-fit: cover;
            width: 100%;
            height: 15rem;
        }

        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease-in-out, opacity 0.3s ease;
            opacity: 0;
            z-index: 1;
            padding: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .submenu.open {
            max-height: 300px;
            opacity: 1;
            background-color: $color-green-logo;
            color: $color-white;
        }

        li:hover {
            cursor: pointer;
        }

        li:hover {
            color: $color-yellow-header;
        }


    }


}