<div class="wrap-categories col-10 offset-1">
  <div>
    <h1>Categories</h1>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="row">
          <div *ngFor="let categorie of categories; index as i;" class="col-md-3 col-lg-3 col-xl">
            <div id="categorie-{{i}}" class="card mb-3 mx-md-auto" (click)="toggleSubMenu(i)">
              <img src="./assets/images/categories/{{categorie.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <label class="card-text">{{categorie.name}}</label>
                <span *ngIf="categorie.showSubMenu" class="submenu">
                  <div>
                    <ul *ngFor="let subcategorie of categorie.subcategories; index as i;"
                      (click)="getProductsByCategorie(subcategorie.name)">
                      <li (click)="getProductsByCategorie(subcategorie.name)">
                        <i class="fa-solid fa-bars" style="margin-right: 5px;"></i> {{subcategorie.name}}
                      </li>
                    </ul>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
