
<div class="wrap-categories col-10 offset-1">
  <h1>Categories</h1>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row">
        <div *ngFor="let categorie of categories; index as i;" class="col-md-3 col-lg-3 col-xl">
          <div class="card mb-3 mx-md-auto" >
            <img src="./assets/images/categories/{{categorie.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">{{categorie.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>