<div class="wrap-deliveries-info">
    <div class="container">
        <img src="./assets/images/deliveryMap.jpg" class="img-fluid img-deliveries">
    </div>
    <ul>
        <li>
            <p>For Malta standard deliveries,
                clients must submit their order by 6 am of the same delivery date, according to delivery schedule
                (please referee to map below).</p>
        </li>
        <li>
            <p>Malta Standard Delivery Charges are
                as follows:</p>
            <ul>
                <li>
                    <p>No charges for purchases over
                        €30 in all localities</p>
                </li>
                <li>
                    <p>€10 charge when purchases are
                        under €30.</p>
                </li>
            </ul>
        </li>
        <li>
            <p>For&nbsp;Malta Express deliveries,
                client must submit their order by noon for same day delivery - else it will be delivered next day.
                Express delivery charges are €20 and there is no weight limit.</p>
        </li>
        <li>
            <p>Malta Next delivery&nbsp;via courier,
                available only for orders weighing equal to or less than 20kg. Clients must order on&nbsp;gardeningmalta.mt&nbsp;by
                8 am the day before to guaranteed next-day delivery to Gozo (excluding weekends and public
                holidays).&nbsp;Next-Day Delivery charges are €5. Since delivery is carried out by a third-party courier
                these deliveries are to be paid immediately at check out or&nbsp;gardeningmalta.mt&nbsp;reserves the right to
                cancel your order.&nbsp;</p>
        </li><br>
        <li>
            <p>For Gozo deliveries, clients can opt
                for 2 delivery choices:</p>
            <ul>
                <li>
                    <p>Next day Delivery by courier.
                        Available only orders weighing equal to or less than 20kg. Clients must order
                        on&nbsp;gardeningmalta.mt&nbsp;by 8 am the day before to guaranteed next-day delivery to Gozo (excluding
                        weekends and public holidays).&nbsp;Next-Day Delivery charges are €5. Since delivery is carried
                        out by a third-party courier these deliveries are to be paid immediately at check out
                        or&nbsp;gardeningmalta.mt&nbsp;reserves the right to cancel your order.&nbsp;</p>
                </li>
                <li>
                    <p>Delivery carried out directly
                        by gardeningmalta.mt ,&nbsp;there in no weight limit for these orders and delivery time can take between 1
                        to 5 days. No charges for purchases over €30 , while a €10 charge would apply if purchases are
                        under €30.</p>
                </li>
            </ul>
        </li><br>
        <li>
            <p>Unless otherwise stated, the price of
                the goods does not include delivery by us to you.</p>
        </li>
        <li>
            <p>The costs of carriage and any
                insurance which you direct us to incur shall be reimbursed by you and shall be due on the date for
                payment of the price.</p>
        </li>
        <li>
            <p>The goods shall be delivered by us to
                your address and the risk in the goods shall pass to you upon such delivery taking place.</p>
        </li>
        <li>
            <p>We require immediate notice to be
                given of any loss or damage to goods and you should inspect the goods upon receipt and report any loss
                or damage to the carrier immediately.</p>
        </li>
        <li>
            <p>If you fail to report any missing
                and/or damage to goods to us upon delivery we will reserve the right to not change and/or refund the
                price and carriage or replace the goods.</p>
        </li>
        <li>
            <p>If you report any missing and/or
                damage to goods to us upon delivery we will refund the price and carriage or replace the goods at no
                cost to you.</p>
        </li>
        <li>
            <p>Standard Deliveries will be made
                between 09:00hrs&nbsp; and 16:00hrs</p>
        </li>
        <li>
            <p>No delivery will be made of live
                stock</p>
        </li>
        <li>
            <p>For any further queries about out
                delivery T&amp;C you are kindly requested to email&nbsp;info&#64;gardeningmalta.mt&nbsp;.</p>
        </li>
    </ul>
</div>
