<div *ngIf="error" class="alert alert-danger" style="position: absolute;" role="alert">
    {{txtAlertError}}
  </div>
  
  <div *ngIf="alertSuccess" class="alert alert-success" style="position: absolute;" role="alert">
    Your password has been successfully updated!
  </div>

  <app-loading [isLoading]="loading"></app-loading>
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2>Reset Password</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="newPassword" class="form-label">
                    New Password</label>
                <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
              </div>
  
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">
                    Confirm Password</label>
                <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" required>
                <div *ngIf="resetPasswordForm.errors?.['mismatch']" class="text-danger">
                    Passwords do not match.
                </div>
              </div>
              <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['required']" class="text-danger">
                New password is required.
              </div>
              <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">
                New password must be at least 8 characters long.
              </div>
              <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']" class="text-danger">
                New password cannot be more than 20 characters long.
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
              <button type="submit" class="btn btn-warning w-100" [disabled]="resetPasswordForm.invalid">Submit</button>
            </form>
          </div>
        </div>
        <div class="text-center mt-3">
          <label class="order-link" (click)="openModal(6, loginTitle)">Back to Login</label>
        </div>
      </div>
    </div>
  </div>
  