<div class="wrap-orders-panel">
  <i class="fa-solid fa-arrow-left icon-back" (click)="goToInit()"></i>
  <div class="col-10 col-sm-10 col-xs-10 col-md-6 col-lg-6  offset-md-3 offset-lg-3 offset-1 offset-sm-1 offset-xs-1">
    <div *ngIf="dataSource && dataSource.data && dataSource?.data?.length === 0" class="row">
      <p class="txt-searching-error">
          <i class="fa-solid fa-triangle-exclamation icon-info"></i>
          No orders found. You currently have no orders in your account.
      </p>
  </div>
    <div class="content-table" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Column Definitions -->
          <ng-container matColumnDef="OrderID" >
            <th mat-header-cell *matHeaderCellDef  style="text-align: center; color: white !important;" > ORDER </th>
            <td mat-cell style="text-align: center; ; font-weight: bold;" *matCellDef="let order">{{order.OrderID}}</td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell style="color: white !important;" *matHeaderCellDef> DELIVERY STATUS </th>
            <td mat-cell style="text-align: left; min-width: 150px;" *matCellDef="let order"> <app-get-status-label [status]="order.Status"></app-get-status-label></td>
          </ng-container>

       
          <ng-container   matColumnDef="TotalAmount">
            <th mat-header-cell style="text-align: right; color: white !important;" *matHeaderCellDef> TOTAL AMOUNT </th>
            <td mat-cell style="text-align: right ;" *matCellDef="let order">{{ order.TotalAmount | currency: 'EUR'}}</td>
          </ng-container>
        
          <ng-container matColumnDef="PaymentType">
            <th mat-header-cell style="color: white !important;"  *matHeaderCellDef> PAYMENT METHOD </th>
            <td mat-cell style="text-align: left; min-width: 200px" *matCellDef="let order"><app-payment-type [type]="order.PaymentType"></app-payment-type></td>
          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell  style="text-align: left; color: white !important;" *matHeaderCellDef> DATE </th>
            <td mat-cell style="text-align: left" *matCellDef="let order">{{order.Date | date:'dd/MM/yyyy'}}</td>
          </ng-container>
          <ng-container matColumnDef="Actions">
            <th mat-header-cell style="text-align: center; color: white !important;" *matHeaderCellDef> ACTIONS </th>
            <td mat-cell style="text-align: center; color: white !important;" *matCellDef="let order">
              <span class="order-link" (click)="openModalOrder(order.OrderID)">DETAILS</span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
