<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ORDER ID</th>
        <th scope="col">DATE</th>
        <th scope="col">DELIVERY TO</th>
        <th scope="col">ORDER TOTAL</th>
        <th scope="col">PAYMENT STATUS</th>
        <th scope="col">PAYMENT METHOD</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">6626073c60b49d21239b0da9</th>
        <td>22/04/2024</td>
        <td>TRIQ IL-BIES, TRIQ ĠDIDA FI</td>
        <td>€15.75</td>
        <td>Pending</td>
        <td>Card Online</td>
        <td>
          <button class="btn btn-primary">
            DETAILS
          </button>
        </td>
        <div class="col-12"></div>
      </tr>

    </tbody>
  </table>
</div>