<div class="wrap-products col-10 offset-1">
    <h1>Products</h1>

    <div class="row">
        <div class="col-12 col-sm-12 col-xs-12 col-md-4 col-lg-2" *ngFor="let product of products; index as i;">
            <div class="wrap-card-products">
                <div class="wrap-images">
                    <img src="./assets/images/products/test.jpg" class="card-img-top img-product" alt="...">
                </div>
                <div class="wrap-details">
                    <p class="text-uppercase product-name">{{product.name}}</p>
                    <p class="text-uppercase sku-details">SKU: {{product.SKU}}</p>
                    <span class="wrap-amount">{{ product.value |currency: 'EUR'}}</span>
                </div>
                <div (click)="addToCart(i, product)" class="wrap-btn-cart">
                    <div >ADD TO CART</div>
                    <div *ngIf="product.isLoading" class="spinner-border text-light wrap-spinner" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="!showProducts" class="row">
        <p class="txt-searching-error">
            <i class="fa-solid fa-triangle-exclamation icon-info"></i>
            No products found matching your selected filters.
        </p>
    </div>
</div>