<div class="wrap-shopping-cart">
    <div class="row">
        <div class="" *ngFor="let product of products; index as i;">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="wrap-card-products">
                        <div class="wrap-images">
                            <img *ngIf="product.image" [src]="getImageSrc(product.image)"
                                class="card-img-top img-product" alt="{{ product.name}}" />
                        </div>
                        <div class="wrap-details">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-6">
                                    <p class="text-uppercase product-name">{{product.name}}</p>
                                    <p class="text-uppercase sku-details">SKU: {{product.sku}}</p>
                                    <span class="wrap-amount">{{ product.value |currency: 'EUR'}}</span>
                                </div>
                                <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-6">
                                    <div class="row" style="margin-left: 0px; ">
                                        <div class="col-6">
                                            <div class="wrap-add-control">
                                                <label class="simbol-txt" (click)="deleteCounterProduct(i)"><i
                                                        class="fa-solid fa-minus"></i></label>
                                                <label class="counter-txt">{{product.quantities}}</label>

                                                <label *ngIf="product.quantities < product.stockQuantity"
                                                    class="simbol-txt"><i
                                                        class="fa-solid fa-plus" (click)="addCounterProduct(i)"></i></label>

                                                <label *ngIf="product.quantities >= product.stockQuantity"
                                                    class="simbol-txt"><i class="fa-solid fa-plus"></i></label>
                                            </div>
                                            <label class="stock-limit" *ngIf="product.quantities >= product.stockQuantity">Quantity Limit reache</label>
                                        </div>
                                        <div (click)="removeItemStorage(i)" class="col-6 wrap-trash-control">
                                            <i class="fa-solid fa-trash"></i>
                                        </div>

                                    </div>

                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showAlert" class="wrap-msm-empty">
            <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
            Your shopping cart is empty.
        </div>
    </div>

    <div *ngIf="!showAlert" class="col-12 wrap-pay" (click)="checkout()">
        <div class="row">
            <div class="col-6">
                CHECKOUT
            </div>
            <div class="col-6 wrap-total">
                {{ total|currency: 'EUR'}}
            </div>
        </div>
    </div>

</div>