@import "../../../../styles.scss";

.wrap-contact-info {
    p {
        line-height: 1;
    }

    .title-contact {
        font-weight: 500;
        color: $color-blue-actions-header;
    }

    .subtitla-contact {
        font-weight: 500;
        color: gray;
        margin-top: 10%;
    }

}