<div class="wrap-contact-info">
    <div class="row">
        <div class="col-4">
            <p class="title-contact">PHONE NUMBER</p>
            <p class="subtitla-contact">Trade Enquiries (Ta’ Qali)</p>
            <p class="info-contact">+356 21445816</p>
            <p class="subtitla-contact">Pet Shop – Balzan</p>
            <p class="info-contact">+356 21442698</p>
            <p class="subtitla-contact">Customer care</p>
            <p class="info-contact">+356 21414753</p>
            <p class="subtitla-contact">Animal Pharm Pharmacy</p>
            <p class="info-contact">+356 21449058</p>
            <p class="subtitla-contact">Farm Shop – Marsa</p>
            <p class="info-contact">+356 21442698 ext. 499</p>
        </div>
        <div class="col-4">
            <p class="title-contact">ADDRESS</p>
            <p class="subtitla-contact">Distribution centre</p>
            <p class="info-contact">Borg Cardona & Co. Ltd, Triq L-Idward, Ta’ Qali</p>
            <p class="subtitla-contact">Pet Shop – Balzan</p>
            <p class="info-contact">Borg Cardona & Co. Ltd, Eltex, Dr. Zammit Street, Balzan</p>
            <p class="subtitla-contact">Farm Shop – Marsa</p>
            <p class="info-contact">Borg Cardona & Co. Ltd, Lighters Wharf, Marsa</p>
            <p class="title-contact" style="margin-top: 10%;">EMAIL ADDRESS</p>
            <p class="info-contact">sales&#64;borgcardona.com.mt</p>
        </div>
        <div class="col-4">
            <p class="title-contact">OPENING HOURS</p>
            <p class="subtitla-contact">Balzan</p>
            <p class="info-contact">Monday – Friday: 8am till 7pm</p>
            <p class="info-contact">Saturday: 8am till 12:30pm</p>
            <p class="subtitla-contact">Marsa</p>
            <p class="info-contact">Monday – Friday: 7.30am till 3pm</p>
            <p class="info-contact">Saturday: 7.30am till 1pm</p>
        </div>
    </div>
</div>