<div class="wrap-panel-user row">
    <div class="col-12">
        <div class="row">
            <div class="offset-1 col">
                <p class="txt-user-name">Welcome, Xiomara!</p>
            </div>
            <div class="col">
                <p class="txt-user-data" (click)="openModal(7, userOrders)">My Orders</p>
            </div>
            <div class="col">
                <p class="txt-user-data" (click)="openModal(8, userInfo)">Personal Information</p>
            </div>
        </div>

    </div>


</div>