@import "../../../../styles.scss";

.wrap-panel-user {
    padding-top: 10px;
    font-weight: 500;
    color: $color-white;
    background-color: $color-green-logo;

    .txt-user-data {
        cursor: pointer;
    }

    .txt-user-name {
        font-size: 1.313rem;
    }
}
.txt-user-data {
    cursor: pointer;
    color: $color-white; 
  
    &.active {
      color: $color-yellow-header;  
    }
  }