<app-breadcrumb *ngIf="showProducts" (initPage)="showPrincipalBanner($event)"></app-breadcrumb>
<app-searcher (nameProductSearched)="searchProductsByName($event)"></app-searcher>
<div class="wrap-body">
    <app-card-categories *ngIf="categories?.length > 0 && !showProducts" [categories]="categories"
        (categoriAndSubcategoriSelected)="findProducts($event)"></app-card-categories>
    <app-principal-banner *ngIf="!showProducts"></app-principal-banner>
    <app-products *ngIf="showProducts"></app-products>
</div>