<!--
 <nav>
    <ul>
        <li>
            <a routerLink="/cart">Cart</a>
            l
            <a routerLink="/product">Product</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
-->

<div class="col-12">
    <app-header></app-header>
    <div class="wrap-body">
        <app-searcher></app-searcher>
        <app-card-categories *ngIf="categories.length > 0" [categories]="categories"></app-card-categories>

        <app-principal-banner></app-principal-banner>


    </div>
    <app-footer></app-footer>
</div>