<!--
 <nav>
    <ul>
        <li>
            <a routerLink="/cart">Cart</a>
            l
            <a routerLink="/product">Product</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
-->

<div class="col-12">
    <app-header></app-header>
    <div class="wrap-body">
        <app-breadcrumb *ngIf="showProducts" [categoriesData]="categoriesData" (initPage)="showPrincipalBanner($event)"></app-breadcrumb>
        <app-searcher></app-searcher>
        <app-card-categories *ngIf="categories?.length > 0 && !showProducts" [categories]="categories" (categoriAndSubcategoriSelected)="findProducts($event)"></app-card-categories>
        <app-principal-banner *ngIf="!showProducts"></app-principal-banner>
        <app-products *ngIf="showProducts" [categoriesData]="categoriesData"></app-products>
    </div>
    <app-footer></app-footer>
</div>