<div class="wrap-terms-info">
    <p   class="title">Last updated: November 26, 2020</p>
    <p  class="text-info-terms">
        These Terms and Conditions govern your use of the website accessed through gardeningmalta.mt (the `Website`) and any orders you
        place through the Website.<br><br>Please read the Terms and Conditions carefully as they affect your liabilities
        under the law. By using the Website, you are deemed to accept the Terms and Conditions and, before proceeding
        with an order, you will be required to show that you have read and understood them [by clicking on the `I
        accept` button at the end of these Terms and Conditions. Please note that you will be required to do this when
        you create an account on the Website, subscribing to our newsletter and every time you check out as guest]. If
        you do not agree to these Terms and Conditions, please do not register for use or use the Website. Please note
        that to purchase goods from the Website or to use or access certain areas of the Website, you will be required
        to register as an authorised user of the Website.</p>
    <div>
        <p   class="subtitle">1. Ownership and
            Intellectual Property</p>
    </div>
    <div>
        <p  class="text-info-terms">1.1 The Website is owned and operated by
            us Borg Cardona Co Limited, a company registered in Malta. Our VAT number is MT 1018 9321. Our registered
            office is Borg Cardona Co Ltd, Triq l-Idward, Ta Qali Industrial Estate, Attard, ATD4000</p>
    </div>
    <div>
        <p  class="text-info-terms">1.2 The copyright and all other
            intellectual property rights in and to the Website and any and/or all of the material on the Website are
            either owned by us or are included with the permission of the owner of the rights. As a visitor to the
            Website, you may download a single copy of each piece of material contained on the Website for your own
            private viewing purposes only, provided you keep intact all and/or any proprietary notices.</p>
    </div>
    <div>
        <p  class="text-info-terms">1.3 Subject to condition 1.2 above, no
            copying of either the Website and/or any and/or all of the material contained on the Website or distribution
            for any commercial or business use is permitted without our prior written consent. You may not include a
            link to the Website or display the contents of the Website surrounded or framed or otherwise surrounded by
            material not originating from us without our prior written consent.</p>
    </div>
    <div>
        <p   class="subtitle">2. Your Account
        </p>
    </div>
    <div>
        <p  class="text-info-terms">2.1 If you use the Website, you are
            responsible for (1) maintaining the confidentiality of your account and your password and (2) restricting
            access to your computer to prevent unauthorised access to your account. You agree to accept responsibility
            for all activities that occur under your account or password. You should take all necessary steps to ensure
            that your password is kept confidential and secure and should inform us immediately if you have any reason
            to believe that your password has become known to anyone else, or if your password is being, or is likely to
            be, used in an unauthorised manner.</p>
    </div>
    <div>
        <p  class="text-info-terms">2.2 You must ensure that the details
            provided by you on registration at the Website or at any time are correct and complete.</p>
    </div>
    <div>
        <p  class="text-info-terms">2.3 You must inform us immediately of any
            changes to the information that you provided when registering by updating your personal details. Then simply
            enter your email address and password and you will then be able to change the details that you originally
            gave.</p>
    </div>
    <div>
        <p  class="text-info-terms">2.4 On the Website, we sell products for
            purchase only by people aged 18 or over. People aged under 18 may use the Website only with the involvement
            and supervision of a parent or guardian. The parent or guardian is required to accept these Terms and
            Conditions and place any orders for the person aged below 18. You hereby warrant that, at the date you
            accept these Terms and Conditions, you are aged 18 or over.</p>
    </div>
    <div>
        <p  class="text-info-terms">2.5 If you are not the card holder, you
            must have permission from the card holder to use their card.</p>
    </div>
    <div>
        <p   class="subtitle">3. Website
            information &amp; availability</p>
    </div>
    <div>
        <p  class="text-info-terms">3.1 Whilst we take every care to ensure
            that the information on the Website is accurate and complete, some of it (such as product descriptions,
            images, etc.) may be supplied to us by third parties and we are unable to check its accuracy or
            completeness. Colours may also vary. You are advised to verify the accuracy of any information before
            relying on it. Further, due to the inherent nature of the Internet, errors, interruptions and delays may
            occur in the service at any time. Accordingly, subject to condition 13 below, the Website is provided `AS
            IS` with warranties excluded to the fullest extent permissible by law. Subject to condition 12 below, we do
            not accept any liability arising from any inaccuracy or omission in any and/or all of the information
            provided on the Website or interruption in availability.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.2 If a fault occurs in the service of
            the Website, you should report it to Customer Service either by ringing +35677016321 or by email on
            info&#64;gardeningmalta.mt and we will correct the fault as soon as we reasonably can.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.3 Your access to the Website may be
            occasionally restricted to allow for repairs, maintenance or the introduction of new facilities or services.
            We will attempt to restore the service as soon as we reasonably can.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.4 Your attention is drawn to the
            following information in particular:</p>
    </div>
    <div>
        <p  class="text-info-terms">3.4.1 Any product ingredients listed on
            this site are provided by the manufacturer. While we do our very best to ensure that this information is
            kept up to date, there may be occasions where a manufacturer has changed their recipe and this has not yet
            been reflected in the information on our product pages. Please always refer to the product packaging upon
            receipt of your order for the fullest and most up to date copy of the product`s ingredients.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.4.2 Any Typical Analyses listed on this
            site are provided by the products` manufacturers. While we do our best to ensure that this information is
            kept up to date, there may be occasions where a manufacturer has changed their formulation and this has not
            yet been reflected in the information on our product pages. Please always refer to the product packaging
            upon receipt of your order for the fullest and most up to date copy of the product`s Typical Analysis.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.4.3 Any Feeding Guides listed on this
            site are provided by the product`s manufacturers. While we do our best to ensure that this information is
            kept up to date, there may be occasions where a manufacturer has changed their Feeding Guide and this has
            not yet been reflected in the information on our product pages. Due to the complexity of some feeding
            guides, the information displayed on this site may be a simplified version and therefore all Feeding Guides
            are provided for the purposes of comparing products only. Please always refer to the product packaging upon
            receipt of your order for the fullest and most up to date copy of the product`s Feeding Guide and use only
            this when feeding your pet.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.4.4 Suitable Breeds. We understand that
            when shopping online, it may be difficult to visualise the actual size of an item, even where approximate
            product dimensions have been provided. We have therefore provided where possible, a list of potentially
            suitable breeds for many of our products. Due to the sheer number of breeds of Dog in the UK, this list is a
            guide only and is by no means meant to be definitive. This guide is based on a breed`s generic size and
            attributes. Each pet is an individual and therefore while a product may generally be suitable for a certain
            breed type, it may not be suitable for certain individual pets. Therefore, upon receipt of your order,
            please ensure that you are confident that the product(s) you have purchased will in fact be suitable for
            your pets unique individual requirements.</p>
    </div>
    <div>
        <p  class="text-info-terms">3.5 Assembly is available at an extra
            charge. Charge will depend on what item needs to be assembled.</p>
    </div>
    <div>
        <p   class="subtitle">4. Other
            promotions, vouchers &amp; competitions</p>
    </div>
    <div>
        <p  class="text-info-terms">4.1 From time to time, we (or selected
            third parties) may include competitions, promotions, vouchers or other offers on the Website. Each such
            offer and or voucher shall be subject to its own express terms, however, each offer or promotion will be
            subject to availability at all times. Your statutory rights are not affected.</p>
    </div>
    <div>
        <p  class="text-info-terms">4.2 Please be advised that prices
            displayed online may not always reflect the prices available in-store.&nbsp;The pricing of the website is
            occasionally independent of that of the shop and we may decide to make any extra special offers on the
            website and not in the shop and vice versa.</p>
    </div>
    <div>
        <p   class="subtitle">5. Limitations</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1 You may not use the Website for:</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.1 disseminating any unlawful,
            harassing, libellous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material;
        </p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.2 transmitting material that
            encourages conduct that constitutes a criminal offence, results in civil liability or otherwise breaches any
            relevant laws, regulations or codes of practice;</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.3 gaining unauthorised access to
            other computer systems;</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.4 interfering with any other person`s
            use or enjoyment of the Website;</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.5 breaching any laws concerning the
            use of public telecommunications networks;</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.6 interfering or disrupting networks
            or websites connected to the Website; or</p>
    </div>
    <div>
        <p  class="text-info-terms">5.1.7 making, transmitting or storing
            electronic copies of materials protected by copyright without the permission of the owner.</p>
    </div>
    <div>
        <p  class="text-info-terms">5.2 We reserve the right to refuse to
            post material on the Website or to remove material already posted on the Website.</p>
    </div>
    <div>
        <p  class="text-info-terms">5.3 You fully indemnify us against any
            and/or all losses, liabilities, costs and/or expenses reasonably suffered or incurred by us, any and/or all
            damages awarded against us under any judgment by a court of competent jurisdiction and any and/or all
            settlements and sums paid by us as a result of any settlement reasonably agreed by us arising out of or in
            connection with:</p>
    </div>
    <div>
        <p  class="text-info-terms">5.3.1 any claim by any third party that
            the use of the Website by you is defamatory, offensive or abusive, or of an obscene or pornographic nature,
            or is illegal or constitutes a breach of any applicable law, regulation or code of practice;</p>
    </div>
    <div>
        <p  class="text-info-terms">5.3.2 any claim by any third party that
            the use of the Website by you infringes that third party`s copyright or other intellectual property rights
            of whatever nature; and/or</p>
    </div>
    <div>
        <p  class="text-info-terms">5.3.3 any fines or penalties imposed by
            any regulatory, advertising or trading body or authority in connection with the use of the Website by you.
        </p>
    </div>
    <div>
        <p   class="subtitle">6. Right to
            suspend or cancel your registration</p>
    </div>
    <div>
        <p  class="text-info-terms">6.1 We may suspend or cancel your
            registration to the Website immediately or restrict or prevent your access to the Website at our reasonable
            discretion if you breach any of your obligations under these Terms and Conditions.</p>
    </div>
    <div>
        <p  class="text-info-terms">6.2 You can cancel this agreement at any
            time after giving us prior notice in writing. If you do so, you must stop using the Website.</p>
    </div>
    <div>
        <p  class="text-info-terms">6.3 The suspension or cancellation of
            your registration to the Website and/or your right to access and/or use the Website shall not affect either
            party`s rights or liabilities.</p>
    </div>
    <div>
        <p  class="text-info-terms">6.4 Conditions 1, 5 and 10 of these Terms
            and Conditions shall survive cancellation.</p>
    </div>
    <div>
        <p   class="subtitle">7. Ordering goods
        </p>
    </div>
    <div>
        <p  class="text-info-terms">7.1 All orders placed through the Website
            will be subject to our acceptance of the order.</p>
    </div>
    <div>
        <p  class="text-info-terms">7.2 Where you have used a promotional
            code to obtain a discount off the price of your order, acceptance of this order is subject to our verifying
            that the code has been issued to you personally and that you have complied with all the terms of the offer
            and qualify for the promotional code. In the event that the code has not been issued to you for your
            personal use, or you do not qualify for the promotion, the price of the order will be adjusted
            notwithstanding any email confirmation which you receive. Refunds for goods purchased under a promotional
            offer will be based on the terms of the promotional price. Your statutory rights are not affected.</p>
    </div>
    <div>
        <p  class="text-info-terms">7.3 If any of the items require a
            prescription and the site doesn`t ask, you are still subject to provide the prescription online and/or upon
            delivery.</p>
    </div>
    <div>
        <p   class="subtitle">8. Pricing,
            processing your orders and payment</p>
    </div>
    <div>
        <p  class="text-info-terms">8.1 The price of any goods will be as
            quoted on the Website from time to time, except in cases of obvious error. Subject to condition 8.4 below,
            in the event of obvious inaccuracies in the prices quoted on the Website, we reserve the right not to fulfil
            and/or to cancel any orders placed by you in reliance on the inaccurate prices.</p>
    </div>
    <div>
        <p  class="text-info-terms">8.2 Prices are liable to change at any
            time, but changes will not affect orders in respect of which we have already sent you a Dispatch
            Confirmation.</p>
    </div>
    <div>
        <p  class="text-info-terms">8.3 Payment for all goods, either by
            credit or debit card, will be taken from your card at the time we receive your order, once we have checked
            your card details and stock availability. Any payment made to us will be refunded if we do not accept your
            order.</p>
    </div>
    <div>
        <p  class="text-info-terms">8.4 Whilst it is our intention to keep
            the Website up to date and error free, product description or pricing errors may occur. If we discover such
            an error after you have submitted an order to us, we will contact you prior to accepting your order with the
            correct details. You may then either cancel your order or confirm it based on the correct information. If we
            are unable to contact you, we will treat your order as cancelled.</p>
    </div>
    <div>
        <p  class="text-info-terms">8.5 All prices shown on the Website are
            inclusive of VAT. Delivery charges are clearly highlighted throughout the Website. For further information
            on delivery charges,</p>
    </div><a href="/deliveries/" style="text-decoration: none; width: inherit; cursor: pointer;">click here</a>
    <div>
        <p  class="text-info-terms">8.6 The processing of your payment and
            acknowledgement of your order (including sending you an email confirming your order is being processed) does
            not constitute legal acceptance of your order.</p>
    </div>
    <div>
        <p   class="subtitle">9. Availability
            and delivery</p>
    </div>
    <div>
        <p  class="text-info-terms">9.1 Your order will be fulfilled by the
            delivery date according to your locality within a week from order confirmation, unless there are exceptional
            circumstances such as a Force Majeure Event (see condition 16 below).</p>
    </div>
    <div>
        <p   class="subtitle">10. Consumer
            Rights</p>
    </div>
    <div>
        <p  class="text-info-terms">10.1 In individual circumstances the
            provisions of the voluntary code may be more or less favourable to you than your statutory rights. You are
            free to withdraw from the operation of the code at any time and pursue your statutory rights. If you are in
            any doubt about your statutory rights you may wish to consult for legal assistance or refer to the consumer
            affairs dept.</p>
    </div>
    <div>
        <p  class="text-info-terms">10.2 In the event that we are unable to
            resolve a complaint with you directly, you have the right to refer the dispute to the EU’s Online Dispute
            Resolution Platform at http://ec.europa.eu/consumers/odr/</p>
    </div>
    <div>
        <p   class="subtitle">11. Risk and Title
        </p>
    </div>
    <div>
        <p  class="text-info-terms">11.1 The goods will be at your risk from
            the time of delivery.</p>
    </div>
    <div>
        <p  class="text-info-terms">11.2 Ownership of the products will only
            pass to you when we receive full payment of all sums due in respect of the goods, including delivery
            charges.</p>
    </div>
    <div>
        <p   class="subtitle">12. Our liability
        </p>
    </div>
    <div>
        <p  class="text-info-terms">12.1 We warrant to you that any goods
            purchased from us though the Website are of satisfactory quality and reasonably fit for the purposes for
            which products of such kind are commonly supplied.</p>
    </div>
    <div>
        <p  class="text-info-terms">12.2 We shall not be responsible to you
            or any third party whether in contract, tort (including negligence) or otherwise for incidental, special,
            indirect or consequential loss or damage, any loss of profit (direct or indirect), loss of sales, loss of
            goodwill or reputation, loss of business, third party claims, pure economic loss arising out of or in
            connection of the performance or non performance of our obligations under these Terms and Conditions,
            including such damage as may be reasonably foreseeable at the date you order the goods.</p>
    </div>
    <div>
        <p  class="text-info-terms">12.3 If you are contracting as a
            consumer, our liability for any claim for loss or damage shall be limited to three times the purchase price
            of the goods you purchased.</p>
    </div>
    <div>
        <p  class="text-info-terms">12.4 Nothing in these Terms and
            Conditions shall exclude or restrict our liability:</p>
    </div>
    <div>
        <p  class="text-info-terms">12.4.1 for death or personal injury
            caused by our negligence;</p>
    </div>
    <div>
        <p  class="text-info-terms">12.4.2 for fraud or fraudulent
            misrepresentation; or</p>
    </div>
    <div>
        <p  class="text-info-terms">12.4.3 for any matter for which it would
            be illegal for us to exclude, or attempt to exclude, our liability.</p>
    </div>
    <div>
        <p   class="subtitle">13. Written
            communications</p>
    </div>
    <div>
        <p  class="text-info-terms">13.1 Applicable laws require that some of
            the information or communications we send to you should be in writing. When using the Website, you accept
            that communication with us will be mainly electronic. We will contact you by email or provide you with
            information by posting notices on the Website. For contractual purposes, you agree to this electronic means
            of communication and you acknowledge that all contracts, notices, information and other communications that
            we provide to you electronically comply with any legal requirement that such communications be in writing.
            This condition does not affect your statutory rights.</p>
    </div>
    <div>
        <p   class="subtitle">14. Notices</p>
    </div>
    <div>
        <p  class="text-info-terms">14.1 All notices given by you to us must
            be given to Borg Cardona Co Ltd, Triq L-idward, Ta Qali Industrial Estate, Ta Qali. We may give notice to
            you at either the email or postal address you provide to us when placing an order, or in any of the ways
            specified in condition 14 above. Notice will be deemed received and properly served immediately when posted
            on the Website, 24 hours after an email is sent, or three days after the date of posting of any letter. In
            proving the service of any notice, it will be sufficient to prove, in the case of a letter, that such letter
            was properly addressed, stamped and placed in the post and, in the case of an email, that such email was
            sent to the specified email address of the addressee.</p>
    </div>
    <div>
        <p   class="subtitle">15. Events outside
            our control</p>
    </div>
    <div>
        <p  class="text-info-terms">15.1 We will not be liable or responsible
            for any failure to perform, or delay in performance of, any of our obligations under a Contract that is
            caused by events outside our reasonable control (`Force Majeure Event`).</p>
    </div>ß<div>
        <p  class="text-info-terms">15.2 A Force Majeure Event includes any
            act, event, non-happening, omission or accident beyond our reasonable control and includes in particular
            (without limitation) the following:</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.1 strikes, lock-outs or other
            industrial action;</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.2 civil commotion, riot, invasion,
            terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for
            war;</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.3 fire, explosion, storm, flood,
            earthquake, subsidence, epidemic or other natural disaster;</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.4 impossibility of the use of
            railways, shipping, aircraft, motor transport or other means of public or private transport;</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.5 impossibility of the use of public
            or private telecommunications networks; or</p>
    </div>
    <div>
        <p  class="text-info-terms">15.2.6 the acts, decrees, legislation,
            regulations or restrictions of any government.</p>
    </div>
    <div>
        <p  class="text-info-terms">15.3 Our performance under any Contract
            between us is deemed to be suspended for the period that the Force Majeure Event continues, and we will have
            an extension of time for performance for the duration of that period. We will endeavour to bring the Force
            Majeure Event to a close or to find a solution by which our obligations under any Contract between us may be
            performed despite the Force Majeure Event.</p>
    </div>
    <div>
        <p   class="subtitle">16. Waiver</p>
    </div>
    <div>
        <p  class="text-info-terms">16.1 If we fail, at any time during the
            term of any Contract between us, to insist upon strict performance of any of your obligations under any
            Contract between us or any of these Terms and Conditions, or if we fail to exercise any of the rights or
            remedies to which we are entitled under any Contract between us, this shall not constitute a waiver of such
            rights or remedies and shall not relieve you from compliance with such obligations.</p>
    </div>
    <div>
        <p  class="text-info-terms">16.2 A waiver by us of any default shall
            not constitute a waiver of any subsequent default.</p>
    </div>
    <div>
        <p  class="text-info-terms">16.3 No waiver by us of any of these
            Terms and Conditions shall be effective unless it is expressly stated to be a waiver and is communicated to
            you in writing in accordance with condition 14 above.</p>
    </div>
    <div>
        <p   class="subtitle">17. General</p>
    </div>
    <div>
        <p  class="text-info-terms">17.1 The use of the Website and any
            Contracts formed between us are governed by Maltese law. Any dispute arising from, or related to, such use
            and any such Contracts shall be subject to the exclusive jurisdiction of the courts of Malta. We make no
            promise that materials on the Website are appropriate or available for use in locations outside the Maltese
            Islands and accessing the Website from territories where its contents are illegal or unlawful is prohibited.
            If you choose to access the Website from locations outside the Maltese Islands, you do so on your own
            initiative and are responsible for compliance with local laws.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.2 A person who is not a party to these
            Terms and Conditions or any Contract between us shall have no right to enforce any term of the Terms and
            Conditions and/or any and/or all Contracts between us under the Contracts.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.3 If any provision of these Terms and
            Conditions or any provisions of any Contract between us are found to be invalid, unlawful or unenforceable
            by a court to any extent, such provision will to that extent be severed from the remaining provisions, which
            will continue to be valid to the fullest extent permitted by law.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.4 We may assign, charge or transfer
            any of our rights or subcontract any of our obligations under these Terms and Conditions or any Contract to
            any third party at any time.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.5 You may not assign, charge or
            transfer any of your rights or subcontract any of your obligations under these Terms and Conditions and/or
            any Contract between us except with our specific prior written permission in writing.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.6 We reserve the right to revise and
            amend these Terms and Conditions from time to time and any such changes will be communicated on the Website.
            You will be subject to the policies and the Terms and Conditions in force at the time that you order goods
            from us, unless any change to those policies or the Terms and Conditions is required to be made by law or
            governmental authority (in which case it will apply to orders previously placed by you), or if we notify you
            of the change to those policies or these Terms and Conditions before we send you the Dispatch Confirmation
            (in which case we have the right to assume that you have accepted the change to the Terms and Conditions,
            unless you notify us to the contrary within seven working days of receipt by you of the goods). If you do
            not wish to accept the new Terms and Conditions, you should not continue to use the Website. If you continue
            to use the Website after the date on which the changes come into effect, your use of the Website indicates
            your agreement to be bound by the new Terms and Conditions.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.7 These Terms and Conditions govern
            the entire trading relationship between ourselves and you and will remain in force for the duration of our
            trading relationship.</p>
    </div>
    <div>
        <p  class="text-info-terms">17.8 We will endeavour to verify the
            accuracy of any product or pricing information which we place on the Website, but we make no warranties or
            guarantees (whether express or implied) in relation to the accuracy of such information. You must bear the
            risk associated with the use of the Internet.</p>
    </div>
    <div>
        <p   class="subtitle">18. Delivery</p>
    </div>
    <div>
        <p  class="text-info-terms">18.1. Unless otherwise stated, the price
            of the goods does not include delivery by us to you.</p>
    </div>
    <div>
        <p  class="text-info-terms">18.2 The costs of carriage and any
            insurance which you direct us to incur shall be reimbursed by you and shall be due on the date for payment
            of the price.</p>
    </div>
    <div>
        <p  class="text-info-terms">18.3 The goods shall be delivered by us
            to your address and the risk in the goods shall pass to you upon such delivery taking place.</p>
    </div>
    <div>
        <p  class="text-info-terms">18.4 We require immediate notice to be
            given of any loss or damage to goods and you should inspect the goods upon receipt and report any loss or
            damage to the carrier immediately.</p>
    </div>
    <div>
        <p  class="text-info-terms">18.5 If you fail to report any missing
            and/or damage to goods to us upon delivery we will reserve the right to not change and/or refund the price
            and carriage or replace the goods.</p>
    </div>
    <div>
        <p  class="text-info-terms">18.6 If you report any missing and/or
            damage to goods to us upon delivery we will refund the price and carriage or replace the goods at no cost to
            you.</p>
    </div>
</div>