@import "../../../../styles.scss";
.wrap-terms-info{
    padding: 10px;
    .subtitle{
        font-weight: 500;
        color: gray;
    }
    .title{
        font-weight: 500;
        color: $color-blue-actions-header;
    }
}