<div class="content-header row">
  <div class="col-3">
    <img src="./assets/images/headerLogo.png" class="img-fluid logo">
  </div>
  <!--
  <div id="icon-events" class="col-1 offset-3 offset-md-4 offset-lg-4">
    <i class="icon fa-regular fa-calendar-days" ></i>
    <span class="title-span">New Events</span>
  </div>
-->
  <div id="icon-faceboock" class="col-2 col-sm-2 col-xs-2 col-md-1 col-lg-1 offset-1 offset-sm-1 offset-xs-1 offset-md-5 offset-lg-5">
    <a href="https://www.facebook.com/ZOO.mt.PetSupplies/" target="_blank">
      <i class="icon fa-brands fa-square-facebook"></i>
      <span class="title-span">Facebook</span>
    </a>
  </div>
  <div id="icon-Contact" class="col-2 col-sm-2 col-xs-2 col-md-1 col-lg-1">
    <i class="icon fa-solid fa-envelope-open" (click)="openModal()"></i>
    <span class="title-span">Contact Us</span>
  </div>
  <div id="icon-cart" class="col-2 col-sm-2 col-xs-2 col-md-1 col-lg-1">
    <i class="icon fa-solid fa-cart-shopping"></i>
    <span class="title-span">Shopping cart</span>
  </div>
  <div id="icon-login" class="col-2 col-sm-2 col-xs-2 col-md-1 col-lg-1">
    <i class="icon fa-regular fa-user"></i>
    <span class="title-span">Login</span>
  </div>
</div>