<div class="content-header row">
  <div class="col-3">
    <img src="./assets/images/borg-cardona-logo.png" class="img-fluid logo">
  </div>
  <div id="icon-events" class="col-1 offset-3 offset-md-4 offset-lg-4">
    <i class="icon fa-regular fa-calendar-days" ></i>
    <span class="title-span">New Events</span>
  </div>
  <div id="icon-faceboock" class="col-1">
    <i  class="icon fa-brands fa-square-facebook"></i>
    <span class="title-span">Facebook</span>
  </div>
  <div id="icon-Contact" class="col-1">
    <i class="icon fa-solid fa-envelope-open"></i>
    <span class="title-span">Contact Us</span>
  </div>
  <div id="icon-cart" class="col-1">
    <i  class="icon fa-solid fa-cart-shopping"></i>
    <span class="title-span">Shopping cart</span>
  </div>
  <div id="icon-login" class="col-1">
    <i  class="icon fa-regular fa-user" ></i>
    <span class="title-span">Login</span>
  </div>
</div>