@import "../../../../styles.scss";

.wrap-content-confirmation {
padding: 30px;
background-color: #F6F6F6 !important;
    .wrap-icon {
        text-align: center;

        .icon-confirmation {
            color: $color-green-btns;
            font-size: 5rem;
        }
    }

    .wrapinfo-confirmation{
        .title-confirm{
            margin-top: 20px;
            text-align: center;
            color: $color-green-btns;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    .order-info{
        color: $color-blue-tooltip;
        font-weight: 500;
    }

    .general-info-confirm{
        font-weight: 500;
        font-size: 1rem;
    }

    .order-link{
        color: $color-green-btns;
        text-decoration: underline;
        cursor: pointer;
        font-weight: 500;
    }

    .icon-back {
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 15px;
        position: absolute;
        color: $orange-acctions;
    }

}