<div class="container-fluid wrap-search-input">
    <div class="row no-gutters">
      <div class="col-11 col-sm-11 col-xs-11 col-md-3 col-lg-2 offset-1">
        <h1 class="title">GARDENING MALTA</h1>
      </div>
      <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control"  (input)="restrictSpecialChars($event)" placeholder="Search product" aria-label="Search product"
            aria-describedby="basic-addon2" [ngModel]="searcherProduct()"
            (keyup.enter)="emmitSearching()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="emmitSearching()">Search</button>
          </div>
          <div *ngIf="showSearcherBox" class="container-fluid wrap-searcher-box">
            <div class="row no-gutters">
              <div class="col-12 searcher-box" *ngFor="let product of productsData; index as i;"
                (click)="selectProductForSearching(product.name)">
                {{product.name}} / {{product.sku}}
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="showSearcherBoxError" class="error-text">*No products found matching your selected filters.</p>
      </div>
    </div>
  </div>
  