@import "../../../../styles.scss";

.wrap-search-input {
    margin-top: 30px;
    margin-bottom: 20px;

    h1 {
        color: $color-green-logo;
        font-size: 2rem;
        margin-left: -5px;
    }

    .logo-header {
        max-height: 136px;
        margin-top: -88px;
    }

    .imp-search-nav {
        padding-right: 10px;
        padding-left: 10px;
    }

    ::placeholder {
        color: $color-green-logo
    }

    input:hover {
        border: 2px solid $color-green-logo;

    }

    .wrap-searcher-box {
        border: 2px solid $color-border-shadow;
        z-index: 90;
        background-color: $color-white;
        overflow: hidden;
        max-height: 610px;
        width: inherit;

        .searcher-box {
            cursor: pointer;
        }

       

        .searcher-box:hover {
            background-color: #e0e0e0;
        }
    }

    .error-text{
        position: absolute;
        color: red;
    }

}