@import "../../../../styles.scss";

.summary-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;


  .summary-content {
    margin-top: 10px;
  }

  .collapse-info-data {
    font-weight: 500;
    color: $color-white;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  .icon-collapse-info {
    font-size: 1.5rem;
    float: right;
    margin-right: 1%;
    cursor: pointer;
  }
}

.wrap-detail-cart {
  .content-info-cart {
      margin-top: 20px;
      font-weight: 500;

      .content-value {
          color: $color-blue-actions-header;
      }

      .content-line {
          border-top: 2px solid $color-green-actions;
      }

  }

}

.wrap-images{
  margin-bottom: 10px;
  max-width: 100px;
  max-height: 150px;
}


.total-detail{
  text-align: right;
  font-size: 1.188rem;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 30px;
}

.wrap-selected-method {
  margin-top: 30px;

  h1 {
    color: $color-blue-actions-header;
    font-size: 1.5rem;
    margin-bottom: 30px;
  }

  .icons-payment {
    font-size: 24px;
    margin-right: 10px;
    margin-left: 5px;
  }

  .icons-payment-cash {
    color: green;
  }

  .wrap-form-payment{
    font-weight: 500;    
    margin-bottom: 20px;
    font-size: 1rem;
  }
}