<div class="wrap-terms-privacy">
    <p class="subtitle">
        Last updated: July 14, 2025
    </p>
    <p class="content-text-policy-info">
        This Privacy Policy describes our policies and procedures on the collection, use, and
        disclosure of your information when you use the Service, and it informs you of your
        privacy rights and how the law protects you.
        We use your personal data to provide and improve the Service. By using the Service, you
        agree to the collection and use of information in accordance with this Privacy Policy.</p>
    <div class="content-text-policy">
        <p class="title">
            Interpretation and Definitions</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Interpretation</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">Words with capitalized initial letters have meanings defined under the
            following
            conditions. These definitions apply regardless of whether they appear in singular or
            plural.</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Definitions</p>
    </div>
    <div class="content-text-policy">
        <ul>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Account:</span> A unique account created for you to access our Service or
                    parts of it.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Company</span> (referred to as either "the Company," "We," "Us," or "Our"
                    in this
                    Agreement): Gardening Malta, operated by Borg Cardona & Co. Ltd.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Cookies:</span> Small files placed on your device to store browsing data.
                </p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Country:</span> Refers to Malta.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Device:</span> Any device that can access the Service, such as a computer,
                    mobile
                    phone, or tablet.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Personal Data:</span> Any information relating to an identified or
                    identifiable individual.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Service:</span> Refers to the website GardeningMalta.com.mt.
                </p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Service Provider:</span> Third-party entities that process data on behalf
                    of the
                    Company.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Third-party Social Media Service:</span> A service through which a user can
                    register or
                    log in to use the Service.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">Usage Data:</span> Data collected automatically through your use of the
                    Service.</p>
            </li>
            <li>
                <p class="content-text-policy-info"><span class="subtitle">You:</span> The individual using the Service, or the company or legal
                    entity on whose
                    behalf that individual is using the Service.</p>
            </li>
        </ul>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Collecting and Using Your Personal Data</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Types of Data Collected:</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Personal Data:</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We may collect the following personally identifiable information:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info">Full name.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Email address.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Usage Data.</p>
        </li>
    </ul>
    <div class="content-text-policy">
        <p class="subtitle">Usage Data:</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">Collected automatically and may include:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info">IP address.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Browser type and version.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Pages visited.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Time and date of visit.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Time spent on pages.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Device and diagnostic data.</p>
        </li>
    </ul>
    <div class="content-text-policy">
        <p class="content-text-policy-info">When accessing the Service via mobile, we may also collect:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info">Mobile device type and unique ID.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Operating system.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Browser type.</p>
        </li>
        <li>
            <p class="content-text-policy-info">Diagnostic data.</p>
        </li>
    </ul>


    <div class="content-text-policy">
        <p class="subtitle">Tracking
            Technologies and Cookies</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We use Cookies and similar tracking technologies (beacons, tags, scripts) to
            analyze
            and improve our Service. You can configure your browser to refuse cookies or alert you
            when one is being sent.</p>
    </div>

    <div class="content-text-policy">
        <p class="subtitle">Cookie Consent</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We use a cookie banner to allow users to accept or reject non-essential
            cookies in
            compliance with GDPR and the ePrivacy Directive.</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Types of Cookies We Use</p>
    </div>

    <ul>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Essential Cookies </span> (Session): Enable core functionality such as account
                login
                and fraud prevention.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Consent Cookies </span> (Persistent): Store your cookie consent preferences.
            </p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Functionality Cookies </span> (Persistent): Save your preferences like language
                and
                login details.</p>
        </li>
    </ul>

    <div class="content-text-policy">
        <p class="title">
            Use of Your Personal Data</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We use your personal data for the following purposes:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info">To provide and maintain the Service.</p>
        </li>
        <li>
            <p class="content-text-policy-info">To manage your account.</p>
        </li>
        <li>
            <p class="content-text-policy-info">To fulfill contracts (e.g., purchases).</p>
        </li>
        <li>
            <p class="content-text-policy-info">To communicate updates and offers.</p>
        </li>
        <li>
            <p class="content-text-policy-info">To manage your inquiries or support requests.</p>
        </li>
        <li>
            <p class="content-text-policy-info">For analytics and business improvement.</p>
        </li>
        <li>
            <p class="content-text-policy-info">For legal compliance or disputes.</p>
        </li>
        <li>
            <p class="content-text-policy-info">In the case of mergers or business transfers.</p>
        </li>
    </ul>


    <div class="content-text-policy">
        <p class="title">
            Legal Basis for Processing Personal Data (GDPR)</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We process your data under one or more of the following legal bases:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Consent:</span> You have given us permission to process your personal data.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Contractual necessity:</span> Processing is required to fulfill a contract.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Legal obligation:</span> Processing is necessary to comply with legal
                obligations.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Legitimate interests:</span> Processing is necessary for our legitimate
                business
                interests and does not override your rights.</p>
        </li>
    </ul>


    <div class="content-text-policy">
        <p class="title">
            Your Data Protection Rights (GDPR)</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">Under the GDPR, you have the following rights:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Access:</span> Request copies of your personal data.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Rectification:</span> Correct inaccurate or incomplete data.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Erasure:</span> Request deletion of your data under certain conditions.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Restriction:</span> Request limitation of processing under certain conditions.
            </p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Objection:</span> Object to data processing on certain legal grounds.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Data Portability:</span> Request transfer of your data to another service.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Withdraw Consent:</span> You may withdraw your consent at any time.</p>
        </li>
        <li>
            <p class="content-text-policy-info"><span class="subtitle">Lodge a Complaint:</span> You have the right to lodge a complaint with the
                Information
                and Data Protection Commissioner (IDPC) in Malta.</p>
        </li>
    </ul>






    <div class="content-text-policy">
        <p class="title">
            Data Retention</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We retain your personal data only as long as necessary for legal,
            contractual, or servicerelated
            purposes. Usage data is typically stored for shorter durations, unless needed for
            security or compliance.</p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Data Transfers</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">Your data may be transferred and stored in locations outside your
            jurisdiction. We
            ensure that such transfers comply with applicable data protection laws and safeguard
            your data.</p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Disclosure of Personal Data</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Business Transactions:</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">our data may be transferred in the event of a merger or
            acquisition.</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Legal Requirements:
        </p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We may disclose your data if required by law or in
            response to valid legal processes.</p>
    </div>
    <div class="content-text-policy">
        <p class="subtitle">Other Legal Grounds:</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">To protect user safety, investigate wrongdoing, or enforce
            legal claims.</p>
    </div>

    <div class="content-text-policy">
        <p class="title">
            Security of Your Data</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We implement appropriate security measures to protect your personal data.
            However,
            no internet transmission is 100% secure, and we cannot guarantee absolute security.</p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Delete Your Data</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">You may request complete deletion of your personal data by contacting us at:
            sales&#64;borgcardona.com.mt </p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Links to Third-Party Sites</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">Our Service may include links to external websites. We are not responsible
            for the
            content or privacy practices of those sites. Please review their privacy policies.</p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Changes to this Privacy Policy</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">We may update this Privacy Policy occasionally. Changes will be posted on
            this page
            with the updated eVective date. If material changes occur, you will be notified via email
            and/or a prominent notice on the Service.</p>
    </div>
    <div class="content-text-policy">
        <p class="title">
            Contact Us</p>
    </div>
    <div class="content-text-policy">
        <p class="content-text-policy-info">If you have any questions or concerns regarding this Privacy Policy, please
            contact us:</p>
    </div>
    <ul>
        <li>
            <p class="content-text-policy-info">sales&#64;borgcardona.com.mt
            </p>
        </li>
    </ul>
</div>