@import "../../../../styles.scss";

.stepper .step {
    width: 100px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .stepper .step.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  .stepper .step:not(:last-child) {
    margin-right: 10px;
  }
  